/bot_modules_test.py
/console_input_to_txt.py
/console_output_from_txt.py
/decos_test.py
/func_test.py
/help_message.txt
/langs.txt
/new_wplace.code-workspace
/_Server_msg_hisory
/active_cards.txt
/assigned_bot_users.txt
/bot 0.0.1 (parse members or dm).py
/bot 0.0.2 (append to txt and read).py
/bot 0.0.3 (actual bot instead of client).py
/__pycache__
/_Dictionaries
/_DMs_history
/b_0.1.1_mypy.py
