/bot_modules_test.py
/console_input_to_txt.py
/console_output_from_txt.py
/decos_test.py
/func_test.py
/help_message.txt
/new_wplace.code-workspace
/bot 0.0.1 (parse members or dm).py
/bot 0.0.2 (append to txt and read).py
/bot 0.0.3 (actual bot instead of client).py
/bot 0.1.0 (command decos).py
/bot 0.1.1 (cards, extensions, checks).py
/bot 0.1.2 (brushed).py
/__pycache__
/b_0.1.1_mypy.py
/.mypy_cache
/bckp2 of Machine 🪐.txt
/func_test_2.py
/test.txt
/DANGER_NSFGITHUB_test.txt
/active_cards.txt
/assigned_bot_users.txt
/gitignore befoe her.txt
/langs.txt
/log_channel_ids.txt
/pending_dict_deletion.txt
_Dictionaries/bckp of GAZelle.txt
_Dictionaries/bckp of Machine 🪐.txt
_Dictionaries/of Belphegor.txt
_Dictionaries/of GAZelle.txt
_Dictionaries/of Machine 🪐.txt
_Server_msg_hisory/of Chill & fun server/announcements.txt
_Server_msg_hisory/of Chill & fun server/our-testing.txt
_Server_msg_hisory/of Chill & fun server/testing.txt
_Server_msg_hisory/of Language House/chat.txt
_Server_msg_hisory/of Language House/spam.txt
_Server_msg_hisory/of PROJECT ADAR/💬-general.txt
_Server_msg_hisory/of Terrarium server/вокабот-только.txt
_Server_msg_hisory/of Terrarium server/вокатест-только.txt
_Server_msg_hisory/of Terrarium server/our-testing.txt
_Server_msg_hisory/of Terrarium server/testing.txt
_Server_msg_hisory/of Первый книжный/ботоводство.txt
_Server_msg_hisory/of Первый книжный/для-команд.txt
_Server_msg_hisory/of Первый книжный/кино.txt
_Server_msg_hisory/of Первый книжный/логи-для-меня.txt
_Server_msg_hisory/of Первый книжный/логи-помощника.txt
_Server_msg_hisory/of Первый книжный/модерация.txt
_Server_msg_hisory/of Первый книжный/мои-пометки.txt
_Server_msg_hisory/of Первый книжный/музыка.txt
_Server_msg_hisory/of Первый книжный/оповещения.txt
_Server_msg_hisory/of Первый книжный/поэзия.txt
_Server_msg_hisory/of Первый книжный/приветствия.txt
_Server_msg_hisory/of Первый книжный/программирование.txt
_Server_msg_hisory/of Первый книжный/самиздат.txt
_Server_msg_hisory/of Первый книжный/ссылки.txt
_Server_msg_hisory/of Первый книжный/художка.txt
_Server_msg_hisory/of Первый книжный/чат-войсов.txt
_Server_msg_hisory/of Первый книжный/чат.txt
_Server_msg_hisory/of Первый книжный/читаем-вместе.txt
_Server_msg_hisory/of Первый книжный/int-chat.txt
_Server_msg_hisory/renamed bot test server/of Terrarium server/загончик.txt
_Server_msg_hisory/renamed bot test server/of Terrarium server/тугомуторный-бот.txt
_Server_msg_hisory/renamed bot test server/of Terrarium server/our-testing.txt
_Server_msg_hisory/renamed bot test server/of Terrarium server/testing.txt
_Server_msg_hisory/renamed bot test server/of testbed/команды.txt
_Server_msg_hisory/renamed bot test server/of Террариум/команды.txt
_Server_msg_hisory/renamed bot test server/of Террариум/testing.txt
_DMs_history/of Belphegor.txt
_DMs_history/of GAZelle.txt
_DMs_history/of Machine 🪐.txt
_DMs_history/old bugged of Machine 🪐.txt
_DMs_history/until 4apr (bot 0.0.x)/of Alex48.txt
_DMs_history/until 4apr (bot 0.0.x)/of BroSafari.txt
_DMs_history/until 4apr (bot 0.0.x)/of DarkSBot.txt
_DMs_history/until 4apr (bot 0.0.x)/of Dimitori.txt
_DMs_history/until 4apr (bot 0.0.x)/of DISBOARD.txt
_DMs_history/until 4apr (bot 0.0.x)/of GAZelle.txt
_DMs_history/until 4apr (bot 0.0.x)/of Machine 🪐.txt
_DMs_history/until 4apr (bot 0.0.x)/of Machine.txt
_DMs_history/until 4apr (bot 0.0.x)/of Server Monitoring.txt
_DMs_history/until 4apr (bot 0.0.x)/of test bot.txt
_DMs_history/until 4apr (bot 0.0.x)/of VocaBot.txt
