/bot_modules_test.py
/console_input_to_txt.py
/console_output_from_txt.py
/decos_test.py
/func_test.py
/new_wplace.code-workspace
/bot 0.0.1 (parse members or dm).py
/bot 0.0.2 (append to txt and read).py
/bot 0.0.3 (actual bot instead of client).py
/bot 0.1.0 (command decos).py
/bot 0.1.1 (cards, extensions, checks).py
/bot 0.1.2 (brushed).py
/__pycache__
/b_0.1.1_mypy.py
/.mypy_cache
/func_test_2.py
/test.txt
/log_channel_ids.txt
/pending_dict_deletion.txt
/_Server_msg_hisory
/_DMs_history
/postgresql_test.py
/pull_listdir.txt
/assigned bot users.txt
/latest.dump
